---
import ThemeToggle from "../ThemeToggle.astro";
---

<header
  id="main-header"
  class="fixed px-4 md:px-0 left-0 z-20 flex items-center md:relative top-0 h-16 w-full bg-bgColor md:bg-transparent overflow-hidden"
>
  <!-- Background 
			TODO: This approach is not optimal and requires improvements. 
  			- Too many absolutely positioned elements can affect performance. 
  		-->
  <div
    class="md:hidden absolute top-0 left-1/2 -ml-[50vw] w-screen min-h-screen pointer-events-none blur-2xl"
  >
    <div
      class="absolute top-[-90%] right-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-90%] left-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-85%] right-[25%] w-[55%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-85%] left-[25%] w-[55%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-75%] left-[-25%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-75%] right-[-25%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-85%] left-[-30%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-85%] right-[-30%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-5"
    >
    </div>
  </div>

  <div class="flex w-full justify-between">
    <div class="icon">Logo</div>

    <div class="flex items-center gap-x-8">
      <a
        href="/verblog/"
        class="font-bold group flex h-8 items-center hover:filter-none sm:relative"
        >Home</a
      >
      <a
        href="/verblog/about/"
        class="font-bold group flex h-8 items-center hover:filter-none sm:relative"
        >About</a
      >
      <a
        href="/verblog/notes/"
        class="font-bold group flex h-8 items-center hover:filter-none sm:relative"
        >Notes</a
      >
      <div
        class="flex items-center justify-center bg-gray-300 w-16 h-8 rounded-sm hover:bg-gray-200 sm:relative"
      >
        <a
          href="/verblog/blog/"
          class="font-bold group flex h-8 items-center hover:filter-none sm:relative"
          >Blog</a
        >
      </div>
    </div>

    <div>
      <ThemeToggle />
    </div>
  </div>
</header>
